@use "../../styles/variables" as *;


.hero-section {
    background-image: url("/public/images/about/desktop/image-hero-whitecup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    color: $secondary-text-color;
}

.commitment-section {
    
}

@media screen and (max-width: 992px) {
    .hero-section {
        background-image: url("/public/images/about/tablet/image-hero-whitecup.jpg");
    }

    .commitment-section {
        background-image: url("/public/images/about/tablet/image-commitment.jpg");
    }
}

@media screen and (max-width: 768px) {
    .hero-section {
        background-image: url("/public/images/about/mobile/image-hero-whitecup.jpg");
    }

    .commitment-section {
        background-image: url("/public/images/about/mobile/image-commitment.jpg");
    }
}