// Primary colors
$primary-color: rgb(14, 135, 132); // Main primary color
$primary-text-color: rgb(51, 61, 75); // Primary text color

// Secondary and tertiary colors
$secondary-text-color: #fefcf7; // Secondary text color
$tertiary-text-color: #333d4b; // Tertiary text color (fixed typo)

$accent-color: #fdd6ba; // Accent color (used for highlights, special elements)

// Hover text colors
$primary-text-color-hover: rgba(131, 136, 143, 1); // Hover state for primary text

// Background color
$bgColor: #fdfcf7;